@model ActionCommandGame.Model.NegativeGameEvent;

<h3>Edit Event</h3>

<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" placeholder="Name" asp-for="Name"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" placeholder="Description" asp-for="Description"/>
    </div>
    <div class="form-group">
        <label>DefenseWithGearDescription</label>
        <input class="form-control" placeholder="DefenseWithGearDescription" asp-for="DefenseWithGearDescription"/>
    </div>
    <div class="form-group">
        <label>DefenseWithoutGearDescription</label>
        <input class="form-control" placeholder="DefenseWithoutGearDescription" asp-for="DefenseWithoutGearDescription"/>
    </div>
    <div class="form-group">
        <label>DefenseLoss</label>
        <input class="form-control" placeholder="DefenseLoss" asp-for="DefenseLoss"/>
    </div>
    <div class="form-group">
        <label>Probability</label>
        <input class="form-control" placeholder="Probability" asp-for="Probability"/>
    </div>

    <input type="hidden" asp-for="Id" />
    <input type="submit" asp-action="EditNegative" value="Save" class="btn btn-primary m-1"/>
</form>