@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 200px;">Welcome, snowboarder!</h1>
    
    <div style="width: 50%; margin:  auto;">
        <input type="button" value="Hit the slopes!" asp-action="HitButton" class="btn btn-info"
               onclick="location.href='@Url.Action("HitButton", "Home")'"
               style="width: 100%"/>
    </div>
</div>