@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 200px;">Welcome, snowboarder!</h1>
    
    <div style="width: 50%; margin:  auto;" >
        <input type="button" value="Hit the slopes!" class="btn btn-info" 
               style="width: 100%"/>
    </div>
</div>