
<h1>Register</h1>

<p>Register your account here</p>

<form method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit" asp-action="Register">Register</button>
</form>